[Unit]
Description=Hackdose

[Service]
ExecStart=/usr/bin/hackdose-server --config /etc/hackdose.yaml
Restart=on-failure
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
